

.nav{
	background-color: purple;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: purple;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-ruta{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}

.btn-reserva{
	width:  100%;
	
}